<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap-4.1.3/css/bootstrap.min.css"
          th:href="@{/css/bootstrap-4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../css/main-page.css" th:href="@{/css/main-page.css}"/>
</head>
<body ng-app="main-page" ng-controller="BooksController">
    <header>
        <div class="pre-search-group">
            <div class="profile-actions">
                <a href="#" class="profile-action">Sign In</a> |
                <a href="#" class="profile-action">Sign Up</a>
            </div>
        </div>
        <div>
            <div class="search-group">
                <div>
                    <input id="search" class="custom-input" type="text"/>
                </div>
                <div class="search-button">
                    <div id="search-icon">
                        <img src="../res/search-icon.png"
                             th:src="@{/res/search-icon.png}" alt="search"/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!--<div id="open-filters">-->
            <!--&gt;-->
        <!--</div>-->
        <div id="filters-section">
            <div class="filters">
                <div class="filter-section filters-header">
                    Filters
                </div>
                <div class="filter-section">
                    <div class="filter-name">
                        Average Rating
                    </div>
                    <div id="rating-filter" class="filter-values" data-filter-name="rating">

                    </div>
                </div>
                <hr>
                <div class="filter-section" data-filter data-filter-name="lang">
                    <div class="filter-name">
                        Language
                    </div>
                    <div class="filter-values">
                        <div class="form-check">
                            <input id="en" type="checkbox"
                                   data-filter-value="en"
                                   data-filter-binding="lang"
                                   class="form-check-input"/>
                            <label  class="filter-checkbox-label"
                                    for="en">English</label>
                        </div>
                        <div class="form-check">
                            <input id="ru" type="checkbox" class="form-check-input"
                                   data-filter-value="ru"
                                   data-filter-binding="lang"/>
                            <label class="filter-checkbox-label"
                                    for="ru">Russian</label>
                        </div>
                        <div class="form-check">
                            <input id="ua" type="checkbox" class="form-check-input"
                                   data-filter-value="ua"
                                   data-filter-binding="lang"/>
                            <label  class="filter-checkbox-label"
                                    for="ua">Ukrainian</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="filter-section" data-filter data-filter-name="author">
                    <div class="filter-name">
                        Authors
                    </div>
                    <div class="filter-values">
                        <div class="form-check" ng-repeat="author in authors">
                            <input id="{{getAuthorId(author.id)}}"
                                   type="checkbox" class="form-check-input"
                                   data-filter-value="{{author.id}}"
                                   data-filter-binding="author"/>
                            <label class="filter-checkbox-label"
                                   for="{{getAuthorId(author.id)}}">
                                {{author.firstName}} {{author.lastName}}
                            </label>
                        </div>
                    </div>
                    <div id="show-more-authors" class="show-more">Show More</div>
                </div>
                <hr>
                <div class="filter-section" data-filter data-filter-name="subject">
                    <div class="filter-name">
                        Subjects
                    </div>
                    <div class="filter-values">
                        <div class="form-check" ng-repeat="subject in subjects">
                            <input type="checkbox" class="form-check-input"
                                   id="{{getSubjectId(subject.id)}}"
                                   data-filter-binding="subject"
                                   data-filter-value="{{subject.value}}"/>
                            <label for="{{getSubjectId(subject.id)}}"
                                   class="filter-checkbox-label">
                                {{subject.value}}
                            </label>
                        </div>
                    </div>
                    <div id="show-more-subjects" class="show-more">
                        Show More
                    </div>
                </div>
                <div id="apply-filters">
                    Apply
                </div>
            </div>
        </div>
        <div id="results">
            <div id="order-by-header">
                <span class="order-by-text">Order By</span>
                <div class="select-wrapper">
                    <select class="form-control small-select" id="order-by-select">
                        <option value="none">none</option>
                        <option value="title">title</option>
                        <option value="rating">rating</option>
                    </select>
                </div>
                <span class="order-by-text">
                    Sort
                </span>
                <div class="select-wrapper">
                    <select name="" class="form-control small-select" id="sort-order-select">
                        <option value="none">none</option>
                        <option value="DESC">DESC</option>
                        <option value="ASC">ASC</option>
                    </select>
                </div>
            </div>
            <div id="found-books">
                <ul class="items">
                    <li class="item item-thumbnail-wrapper" ng-repeat="book in books">
                        <div class="item-thumbnail">
                            <a href="{{book.url}}">
                                <div class="book-cover">
                                    <img ng-src="{{book.imageUrl}}" src="" alt=""/>
                                </div>
                            </a>
                            <div class="item-attributes">
                                <div class="item-attribute book-title">
                                    <a href="{{book.url}}">
                                        {{book.title}}
                                    </a>
                                </div>
                                <div class="item-attribute book-authors">
                                    <div class="book-author" ng-repeat="author in book.authors">
                                        <a href="{{author.url}}" class="book-author">
                                            {{author.firstName}} {{author.lastName}}
                                        </a>
                                    </div>
                                </div>
                                <div class="item-attribute">
                                    Rating:
                                    <span class="book-rating {{getClassNameForRating(book.averageRating)}}">
                                        {{getRatingValue(book.averageRating)}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-navigation">
                <div class="navigation-control" ng-click="getPrevious()"><< Previous</div>
                <div class="navigation-control" ng-click="getNext()"> Next >></div>
            </div>
        </div>
    </main>
</body>
<script src="../js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../js/util.js" th:src="@{/js/util.js}"></script>
<script src="../js/main-page.js" th:src="@{/js/main-page.js}"></script>
</html>