<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:fragment="header">
    <div class="pre-search-group" th:if="${email == null}">
        <div class="profile-actions">
            <a href="#" th:href="${authorizationUrl}" class="profile-action">Sign In</a> |
            <a href="#" th:href="${registrationUrl}" class="profile-action">Sign Up</a>
        </div>
    </div>
    <div class="pre-search-group" th:if="${email != null}">
        Welcome, <span class="font-weight-bold" th:text="${email}"></span>
        
    </div>
    <div>
        <div class="search-group">
            <div data-filter data-filter-name="title">
                <input id="search" class="custom-input" type="text" data-filter-binding="name"/>
            </div>
            <div class="search-button">
                <div id="search-icon">
                    <img src="../res/search-icon.png"
                         th:src="@{/res/search-icon.png}" alt="search"/>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>